In [1]:
from pathlib import Path
import csv

In [2]:
pwd

'C:\\Users\\krist\\Desktop\\Fintech_Class\\Copy_Rice_Repo\\2_Homeworks\\02-Python\\Homework 2\\python-analysis\\PyBank'

In [3]:
csvpath = Path('Resources/budget_data.csv')
csvpath

WindowsPath('Resources/budget_data.csv')

In [4]:
PnLAmount = []

In [5]:
line_num = 0

In [6]:
with open(csvpath, 'r') as pybank_data:
    Pbtable = csv.reader(pybank_data, delimiter=',')
    header = next(Pbtable)
    line_num += 1
    print(f"{header} <---- HEADER")
    for row in Pbtable:
        print(row)
        PnLtotal = int(row[1])
        PnLAmount.append(PnLtotal)

['Date', 'Profit/Losses'] <---- HEADER
['Jan-2010', '867884']
['Feb-2010', '984655']
['Mar-2010', '322013']
['Apr-2010', '-69417']
['May-2010', '310503']
['Jun-2010', '522857']
['Jul-2010', '1033096']
['Aug-2010', '604885']
['Sep-2010', '-216386']
['Oct-2010', '477532']
['Nov-2010', '893810']
['Dec-2010', '-80353']
['Jan-2011', '779806']
['Feb-2011', '-335203']
['Mar-2011', '697845']
['Apr-2011', '793163']
['May-2011', '485070']
['Jun-2011', '584122']
['Jul-2011', '62729']
['Aug-2011', '668179']
['Sep-2011', '899906']
['Oct-2011', '834719']
['Nov-2011', '132003']
['Dec-2011', '309978']
['Jan-2012', '-755566']
['Feb-2012', '1170593']
['Mar-2012', '252788']
['Apr-2012', '1151518']
['May-2012', '817256']
['Jun-2012', '570757']
['Jul-2012', '506702']
['Aug-2012', '-1022534']
['Sep-2012', '475062']
['Oct-2012', '779976']
['Nov-2012', '144175']
['Dec-2012', '542494']
['Jan-2013', '359333']
['Feb-2013', '321469']
['Mar-2013', '67780']
['Apr-2013', '471435']
['May-2013', '565603']
['Jun-2013', '872480']
['Jul-2013', '789480']
['Aug-2013', '999942']
['Sep-2013', '-1196225']
['Oct-2013', '268997']
['Nov-2013', '-687986']
['Dec-2013', '1150461']
['Jan-2014', '682458']
['Feb-2014', '617856']
['Mar-2014', '824098']
['Apr-2014', '581943']
['May-2014', '132864']
['Jun-2014', '448062']
['Jul-2014', '689161']
['Aug-2014', '800701']
['Sep-2014', '1166643']
['Oct-2014', '947333']
['Nov-2014', '578668']
['Dec-2014', '988505']
['Jan-2015', '1139715']
['Feb-2015', '1029471']
['Mar-2015', '687533']
['Apr-2015', '-524626']
['May-2015', '158620']
['Jun-2015', '87795']
['Jul-2015', '423389']
['Aug-2015', '840723']
['Sep-2015', '568529']
['Oct-2015', '332067']
['Nov-2015', '989499']
['Dec-2015', '778237']
['Jan-2016', '650000']
['Feb-2016', '-1100387']
['Mar-2016', '-174946']
['Apr-2016', '757143']
['May-2016', '445709']
['Jun-2016', '712961']
['Jul-2016', '-1163797']
['Aug-2016', '569899']
['Sep-2016', '768450']
['Oct-2016', '102685']
['Nov-2016', '795914']
['Dec-2016', '60988']
['Jan-2017', '138230']
['Feb-2017', '671099']

In [7]:
count = 0
count2 = 0
total = 0
average = 0
minimum = 0
maximum = 0

In [8]:
for PnLtotal in PnLAmount:
    total += PnLtotal
    count += 1

In [9]:
total

38382578

In [10]:
count

86

In [11]:
# 1. subtract one row from the previous row in the table for PnLtotal
# 2. take that info. from the new results and find the max value
# 3. same as #2, but find the min
# 4. take the results and find the average

In [12]:
with open(csvpath, 'r') as pybank_data:
    Pbtable = csv.reader(pybank_data, delimiter=',')
    # grabbing the header
    header = next(Pbtable) 
    # grabbing the first row
    First_row = next(Pbtable)
    PreviosMonth_PnL = int(First_row[1])
    line_num += 1
    Difflist = []
    for row in Pbtable:
        Diff = (int(row[1]) - PreviosMonth_PnL)
    # Now, I need to change M1_PnL to be M2_Pnl or the next month
        print(Diff)
        PreviosMonth_PnL = int(row[1])
        line_num += 1
    # start in line 2 of table, take M1_Pnl and subtract if from row 2.
        Difflist.append(Diff)

116771
-662642
-391430
379920
212354
510239
-428211
-821271
693918
416278
-974163
860159
-1115009
1033048
95318
-308093
99052
-521393
605450
231727
-65187
-702716
177975
-1065544
1926159
-917805
898730
-334262
-246499
-64055
-1529236
1497596
304914
-635801
398319
-183161
-37864
-253689
403655
94168
306877
-83000
210462
-2196167
1465222
-956983
1838447
-468003
-64602
206242
-242155
-449079
315198
241099
111540
365942
-219310
-368665
409837
151210
-110244
-341938
-1212159
683246
-70825
335594
417334
-272194
-236462
657432
-211262
-128237
-1750387
925441
932089
-311434
267252
-1876758
1733696
198551
-665765
693229
-734926
77242
532869

In [13]:
max(Difflist)

1926159

In [14]:
min(Difflist)

-2196167

In [15]:
TotalDiff = sum(Difflist)

In [16]:
TotalDiff

-196785

In [17]:
for Diff in Difflist:
    count2 += 1

In [18]:
count2

85

In [19]:
average = round(TotalDiff / count2,2 )

In [20]:
average

-2315.12

In [25]:
print("Financial Analysis")
print("---------------------")
print(f"Total Months: {count}")
print(f"Total: ${total}")
print(f"Average Change: ${average}")
print(f"The greatest increase in profits: Feb-2012 (${max(Difflist)})")
print(f"The greatest decrease in profits: Sep-2013 (${min(Difflist)})")

Financial Analysis
---------------------
Total Months: 86
Total: $38382578
Average Change: $-2315.12
The greatest increase in profits: Feb-2012 ($1926159)
The greatest decrease in profits: Sep-2013 ($-2196167)